@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: middle;
  border: 0;
}

html {}

body {}


/* 공통구역 */

.clearfix {

  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;

}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}



/* 상단 */

.header {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

}

.header .inner {
  position: relative;
  display: block;
  width: 1000px;
  height: 64px;
  background-color: #fff;
}

.gnb {
  position: relative;
  display: block;
  width: 496px;
  height: 64px;
 

}

.gnb li {
position: relative;
  display: block;


  float: left;

}

.logo {
  position: relative;
  display: block;

  margin-left:-300px;
  top:30px;
  width: 149px;
  height: 24px;
  background: url('../images/jungle_dark438_72.svg') no-repeat center;
  background-size: cover;

}

.mainmenu {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 14px 0 16px;
  padding:4px 15px;
  text-align: center;

  transform: translate(50%);
 /* top:-40px; */
 left:50px;
}

.mainmenu li {
  position: relative;
  display: block;
  width: 124px;
  height: 64px;
 
  
}

.mainmenu li a {
  position: relative;
  display: inline-block;
  color: #333;
  font-size: 16px;
  /* margin: 14px 0 16px;
  padding: 4px 15px; */
}

.mainmenu .submenu {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.submenu li {
  display: none;
}

.member-list{
  float: right;
}

.meber-list li{
position: relative;
display: block;
top:-45px;
left:300px;
}

.meber-list li a{
position: relative;
display: block;
margin: 10px;
font-size: 12px;
color: #333;
}


/* 비주얼 */

.visual{
  position: relative;
  display: block;
 width: 100%;
 height: 100%;
 

}

.visual .inner{}

.sw-visual{
  position: relative;
  display: block;
  

}



.visual-1{
position:relative;
display: block;

width:100%;
height:450px;
background: url('../images/mxdn_bg.png') no-repeat center;
background-size: cover;
}
.visual-2{
  position:relative;
  display: block;
  
  width:100%;
  height:450px;
  background: url('../images/job_bg.png') no-repeat center;
  background-size: cover;
}
.visual-3{
  position:relative;
  display: block;
  
  width:100%;
  height:450px;
  background: url('../images/udja_bg.png') no-repeat center;
  background-size: cover;
}



/* 코스 */


.course{

}
.container{
  position: relative;
  display: block;
width:1000px;
height: 62px;
margin: 0 auto;
}

.menu-list{
  position: relative;
  display: block;
width:760px;
height: 100%;
transform: translateX(20%);
}

.menu-list li{
  position: relative;
  display: block;
  width: 240px;
  height:100%;
  float: left;
  margin-right: 10px;
padding-top: 10px;

}

.menu-list li a{
position: relative;
display: block;
text-align: center;
border-radius: 12px;
padding-top:10px;
width: 240px;
height: 100%;
color:#333;
font-size: 16px;
background: #f5f7fB;
box-shadow: 0px 0px 8px rgb(93 99 113 / 54%);
}

.course-title {
  position: relative;
  display: block;
  width:1000px;
  height: 39px;
  color:#333;
  font-size: 32px;
  padding: 0 48%;

}

.course-txt{
  position: relative;
  display: block;
  width:100%;
  height: 48px;
  font-size: 16px;
  color: #333;
 /* transform: translateX(48%); */
 text-align: center;
}