@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

/* 공통구역 */

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
/* 오른쪽 고정 */
.fix-sns {
  position: fixed;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 99999;
}

/* 상단 */

.header {
  position: fixed;
  margin: 0 auto;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  z-index: 99999;
  box-shadow: 0 3px 6px rgb(0 0 0 /16%);
  border-bottom: 1px solid #efefef;
}

.header .active::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 320px;
  background-color: #fff;
}

.header .inner {
  position: relative;
  display: block;
  width: 100%;
  height: 64px;
  background-color: #fff;
}

.logo {
  position: absolute;
  display: inline-block;
  transform: translateY(-50%);
  left: 0;
  top: 50%;
  width: 149px;
  height: 24px;
  background: url("../images/jungle_dark438_72.svg") no-repeat center;
  background-size: cover;
}

.gnb {
  position: relative;
  display: block;
  /* width: 415px; */
  height: 100%;
  z-index: 9999;
  margin: 0 auto;
  text-align: center;
}

.mainmenu {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
}
.mainmenu > li {
  position: relative;
  display: inline-block;
}
.mainmenu > li > a {
  position: relative;
  display: block;
  font-size: 16px;
  color: #000;
  padding: 0 20px;
  line-height: 60px;
}

/* 서브메뉴 배경 */
.submenu-wrap-bg {
  position: absolute;
  display: block;
  top: 64px;
  left: 0;
  /* transform: translateX(-50%); */
  width: 100%;
  height: 0px;
  background: #fff;
  transition: height 0.5s;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.submenu-wrap-bg-active {
  height: 300px;
}

/* 서브메뉴 내용 모음 */
.submenu-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  margin: 0 auto;
  overflow: hidden;
  transition: height 0.5s;
}
.submenu-wrap-active {
  height: 300px;
}
/* 각가의 서브메뉴 내용들을 absolute 로 모음 */
.sub-menu-box {
  position: absolute;
  left: 0;
  top: 25px;
  display: block;
  width: 1200px;
  text-align: left;
  overflow: hidden;
}

.sub-menu-title {
  position: relative;
  display: block;
  float: left;
  width: 235px;
  margin-right: 65px;
  color: #333;
}
.sub-menu-title h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 13px;
}
.sub-menu-title p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}

.sub-menu {
  position: relative;
  display: block;
  float: left;
}

.sub-menu > li {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.sub-menu > li > a {
  display: block;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  color: #333;
}

.sub-menu2 {
  position: relative;
  display: inline-block;

  padding: 30px 0;
}

.sub-menu2 > li {
  position: relative;
  display: block;
  padding-right: 50px;
}
.sub-menu2 > li > a {
  display: block;
  color: #000;
  margin-bottom: 25px;
  margin-top: 30px;
  transform: translateX(-50%);
}

.sub-menu3 {
  position: relative;
  display: inline-block;

  padding: 30px 0;
}

.sub-menu3 > li {
  position: relative;
  display: block;
  padding-right: 50px;
}
.sub-menu3 > li > a {
  display: block;
  color: #000;
  margin-bottom: 25px;
  margin-top: 30px;
  transform: translateX(-50%);
}

.sub-menu4 {
  position: relative;
  display: inline-block;

  padding: 30px 0;
}

.sub-menu4 > li {
  position: relative;
  display: block;
  padding-right: 50px;
}
.sub-menu4 > li > a {
  display: block;
  color: #000;
  margin-bottom: 25px;
  margin-top: 30px;
  transform: translateX(-50%);
}

.member-list {
  position: absolute;
  display: block;
  width: 122px;
  height: 64px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.member-list li {
  position: relative;
  display: block;
  float: left;
  white-space: nowrap;
  margin-right: 10px;
}

.member-list li a {
  position: relative;
  display: block;
  font-size: 12px;
  color: #333;
  line-height: 64px;
}
/* 비주얼 */

.visual {
  position: relative;
  display: block;
  width: 100%;
  height: calc(450px + 65px);
  background-color: pink;
  padding-top: 65px;
}

.sw-visual {
}

.sw-visual-control {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: block;
  width: 100%;
  z-index: 9;
  text-align: center;
}

.sw-visual-pagination .swiper-pagination-bullet {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  margin: 0 10px;
  transition: width 0.5s;
  overflow: hidden;
}
.sw-visual-pagination .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 8px;
  background-color: #fff;
  opacity: 0.5;
  transition: width 2.5s;
}

.sw-visual-pagination .swiper-pagination-bullet-active {
  width: 42px;
}
.sw-visual-pagination .swiper-pagination-bullet-active::before {
  width: 100%;
}

.visual .inner {
  position: relative;
  display: block;
}

.visual-bg-1 {
  background: #083c40;
}

.visual-bg-2 {
  background: #e8e6e7;
}

.visual-bg-3 {
  background: #fec23e;
}

.visual-1 {
  position: relative;
  display: block;
  width: 100%;
  height: 450px;
  background: url("../images/udja_bg.png") no-repeat center;
  background-size: cover;
}

.visual-2 {
  position: relative;
  display: block;
  width: 100%;
  height: 450px;
  background: url("../images/mxdn_bg.png") no-repeat center;
  background-size: cover;
}

.visual-3 {
  position: relative;
  display: block;
  width: 100%;
  height: 450px;
  background: url("../images/job_bg.png") no-repeat center;
  background-size: cover;
}

.sw-visual-box {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sw-visual-prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 99;
}
.sw-visual-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 99;
}

/* 코스 */

.course {
  display: block;
  padding-bottom: 0px;
}

.course .inner {
}

.course-list {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.course_1 {
  position: absolute;
  display: block;
  left: 270px;
  bottom: 45px;
}
.course_2 {
  position: relative;
  display: block;

  left: 270px;
  bottom: 115px;
}
.course_3 {
  position: relative;
  display: block;
  left: 270px;
  bottom: 115px;
}

.menu-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin-top: 90px;
  margin-bottom: 70px;
}

.menu-list li {
  position: relative;
  display: block;
  height: 100%;
}

.menu-list li a {
  position: relative;
  display: block;
  width: 384px;
  height: 100%;
  text-align: center;
  border-radius: 12px;
  line-height: 80px;
  color: #333;
  font-size: 16px;
  background: #f5f7fb;
  box-shadow: 0px 0px 8px rgb(93 99 113 / 54%);
  font-weight: 500;
}

.menu-list li a:hover {
  background: #ff8800;
  color: #fff;
}

.couser-title-wrap {
  position: relative;
  display: block;
}
.course-co {
  position: relative;
  display: block;
  color: #ff6000;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.course-title {
  position: relative;
  display: block;
  color: #333;
  font-size: 32px;
  font-weight: 900;
  float: left;
  padding-right: 25px;
}

.course-ex {
  position: relative;
  display: block;
  color: #333;
  font-size: 16px;
  float: left;
  padding-bottom: 45px;
}

/* course-tab */
.course-tab {
  position: relative;
  display: block;
}
.course-tab li {
  position: relative;
  display: block;
  float: left;
  padding: 0 15px;
  padding-bottom: 15px;
  margin-left: 15px;
}

.course-tab li a {
  position: relative;
  display: block;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.course-tab .on {
  border-bottom: 3px solid #ff8800;
}
.course-tab .on a {
  color: #ff8800;
}

.course-content {
  position: relative;
  display: block;
  height: 2240px;
  font-size: 16px;
  color: #333;
  padding-top: 35px;
}

.course-txt {
  position: relative;
  display: block;
  width: 100%;
  height: 48px;
  font-size: 16px;
  color: #333;
  /* transform: translateX(48%); */
  text-align: center;
  padding-top: 15px;
  line-height: 1.4;
  font-weight: 500;
}

.course-txt::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 32px;
  background-color: #ff8800;
  margin: 10px 0;
}

.tab {
  position: relative;
  display: block;
  width: 264px;
  height: 30px;
  padding-top: 75px;
  margin: 0 auto;
}

.tab li {
  float: left;
  text-align: center;
}

.tab a {
  width: 57px;
  height: 23px;
  font-size: 16px;
  padding: 3px 12px;
  border-radius: 19px;
  color: #333;
  font-weight: 500;
}

.tab .diploma {
  margin-left: 15px;
  color: #333;
}

.tab .workshop {
  margin-left: 15px;
  color: #333;
}

.course .on {
  /* display: block; */
}

.course .on img {
  border-radius: 9px;
  box-shadow: 2px 2px 4px rgb(0 0 0 /16%);
}

.course .course-content li {
  height: 228px;
  float: left;
  width: calc(25% - 10px);
  margin-bottom: 160px;
}

.course .course-content li a {
  display: block;
  width: 100%;
  height: 100%;
}

.course .course-content li a img {
  display: block;
  width: 20%;
  height: 100%;
}

.course .only_pc {
  position: absolute;
  display: block;
  width: 235px;
  height: 228px;
}

.course .text-area {
  position: relative;
  display: block;
  width: 235px;
  height: 128px;
  text-align: left;
  padding: 14px 10px 0 18px;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgb(0 0 0 /16%);
  margin-top: -5px;
  padding: 14px 10px 0px 8px;
}

.course .text-area em {
  display: block;
  width: 207px;
  height: 44px;
  font-size: 16px;
  color: #333;
  margin: 0px 0px 8px;
  font-weight: 500;
}

.course .text-area span {
  width: 207px;
  height: 38px;
  color: #999;
  font-size: 13px;
  font-weight: 500;
}

/* 컨설팅 */

.consulting {
  position: relative;
  display: block;
  padding-bottom: 135px;
}
.consulting .inner {
  position: relative;
  display: block;
  height: 200px;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: #7494ff;
}

.consulting h2 {
  position: relative;
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}
.consul-bt {
  display: inline-block;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}
.consul-bt > a {
  color: #7494ff;
  font-weight: 500;
}
.consul_img {
  position: relative;
  display: block;
  left: 75%;
  bottom: 200px;
}
/* 포트폴리오 */

.portfolio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 180px;
}

.portfolio .inner {
}

.port-po {
  position: relative;
  display: block;
  text-transform: capitalize;
  color: #ff6600;
  font-weight: 800;
  padding-bottom: 20px;
}
.port-title {
  text-align: left;
  font-weight: 700;
  padding-right: 20px;
  float: left;
  font-size: 32px;
  color: #333;
  text-transform: uppercase;
}

.port-ex {
  display: inline-block;

  font-size: 16px;
  color: #333;
  font-weight: 500;
  padding-bottom: 50px;
}
.port-menu {
  position: relative;
  display: block;
  padding-bottom: 60px;
}

.port-tab {
  position: relative;
  display: block;
  text-align: center;
}

.port-tab .port-tab-on > a {
  color: #ff8800;
}
.port-tab li {
  position: relative;
  display: inline-block;
  float: left;
}

/* .port-tab > li > a:nth-child(1) {
  color: #ff8800;
} */
.port-tab > li > a {
  font-weight: 600;
  font-size: 16px;
  color: #333;
  padding: 4px 14px 3px;

  text-transform: uppercase;
  transition: all 0.4s;
}
.port-tab-on > a {
  border-bottom: 3px solid #ff8000;
}

.contents-wrap {
  position: relative;
  height: 420px;
  box-sizing: border-box;
}

.contents-wrap > ul {
  height: 100%;
}

.contents-wrap > ul > li {
  float: left;
  position: relative;
  width: calc(25% - 12px);

  height: calc(50% - 8px);
  margin-right: 10px;
  box-sizing: border-box;
}

.pt-toy {
  position: relative;
  display: block;
  left: 0;
  top: 0;

  height: 195px;
  background: url("../images/2020_app13\ \(1\).jpg") no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 12px;
}

.pt-kid {
  position: relative;
  display: block;

  height: 195px;
  background: url("../images/2020_app12.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 10 0px;
  border-radius: 12px;
}
.port-net {
  position: relative;
  display: block;
}

.pt-center {
  position: relative;
  display: block;

  height: 195px;
  background: url("../images/2020_app11.jpg") no-repeat;
  background-size: cover;
  border-radius: 12px;
}

/* .port-right {
  width: auto;
  margin-left: 24.5%;
} */

.pt-pam {
  position: relative;
  display: block;

  height: 195px;
  background: url("../images/2020_app10.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 12px;
}
.pt-pc {
  position: relative;
  display: block;

  height: 195px;
  background: url("../images/2020_app7.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 12px;
}
.pt-pl {
  position: relative;
  display: block;

  height: 195px;
  background: url("../images/2020_app9.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 12px;
}
.pt-dt {
  position: relative;
  display: block;

  height: 195px;
  background: url("../images/2020_app8.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 12px;
}
.pt-sp {
  position: relative;
  display: block;

  height: 195px;
  background: url("../images/2020_app5.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 12px;
}

/* 잡 */

.job {
  position: relative;
  display: block;
  width: 100%;
  height: 670px;
}

.job .inner {
}

.job-ju {
  position: relative;
  display: block;
  font-size: 16px;
  color: #ff6600;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.job h2 {
  position: relative;
  display: inline-block;
  font-size: 32px;
  color: #333;
  font-weight: 700;
  text-align: left;
  padding-right: 10px;
}

.job-ex {
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  padding-bottom: 50px;
}

.job > ul {
  overflow: hidden;
  width: 100%;
  height: 395px;
}
.job-list {
  float: left;
  width: calc(50% - 7.5px);
  height: 190px;
  background-color: #eff4ff;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.job-list-2 {
  float: left;
  width: calc(50% - 7.5px);
  height: 190px;
  background-color: #eff4ff;
  border-radius: 12px;
}
.job-list-3 {
  float: left;
  width: calc(50% - 7.5px);
  height: 190px;
  background-color: #eff4ff;
  border-radius: 12px;
  margin-right: 10px;
}
.job-list-4 {
  float: left;
  width: calc(50% - 7.5px);
  height: 190px;
  background-color: #eff4ff;
  border-radius: 12px;
}
.job > ul > li:nth-child(2n - 1) {
  margin-left: 0;
}

.job-a {
  position: relative;
  display: block;
  height: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px 50px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.job-b {
  position: relative;
  display: block;
  height: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px 50px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.job-c {
  position: relative;
  display: block;
  height: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px 50px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.job-d {
  position: relative;
  display: block;
  height: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px 50px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.job > ul > li > a > img {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
}
.job_1 {
  position: relative;
  display: block;
  bottom: 85px;
  left: 170px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.job_2 {
  position: relative;
  display: block;
  bottom: 85px;
  left: 170px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.job_3 {
  position: relative;
  display: block;
  bottom: 85px;
  left: 170px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.job_4 {
  position: relative;
  display: block;
  bottom: 85px;
  left: 170px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

/* 블로그 */

.blog {
  margin-bottom: 140px;
}

.blog .inner {
  position: relative;
  display: block;
  height: 200px;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: #ef9341;
}

.blog h2 {
  position: relative;
  display: block;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 30px;
}

.blog_1 {
  display: inline-block;
  background-color: #fff;
  padding: 6px 10px;
  border-radius: 15px;
}
.blog-se {
  color: #ef9341;
  font-weight: 500;
}
.blog-img {
  position: relative;
  display: block;
  bottom: 210px;
  left: 80%;
}
/* 하단 */

.footer {
  position: relative;
  display: block;
  padding: 20px 0px 40px;
  font-size: 16px;
  color: #000;
  border-top: 1px solid #ebebeb;
}

/* .footer .container{
    display: block;
width:1000px;
height: 302px;
margin: 0px 174.5px;
} */

.fnb {
  position: relative;
  display: block;
  height: 24px;
  margin-bottom: 35px;
}

.fnb a {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.fnb a:first-child {
  width: 59.92px;
  height: 30px;
  margin-right: 10px;
  padding: 5px 10px 5px 0px;
}

.fnb a:nth-child(2) {
  width: 98.41px;
  height: 30px;
  margin: 0px 10px;
  padding: 5px 10px;
}

.fnb a:nth-child(3) {
  width: 69.92px;
  height: 30px;
  margin: 0px 10px;
  padding: 5px 10px;
}

.fnb a:nth-child(4) {
  width: 69.92px;
  height: 30px;
  margin: 0px 10px;
  padding: 5px 10px;
  color: #ff8800;
}

.fnb a:last-child {
  width: 142.89px;
  height: 30px;
  margin: 0px 10px;
  padding: 5px 10px;
}

.address-wrap {
  position: relative;
  display: block;
}

.address-left {
  position: relative;
  display: block;
  float: left;
}

.address {
  position: relative;
  display: inline;
  width: 695px;
  font-size: 13px;
  color: #999;
  font-weight: 500;
  margin-bottom: 20px;
}

.address li {
  line-height: 20px;
}

.address-bottom {
  position: relative;
  display: block;
  width: 290px;
  font-size: 13px;
  color: #999;
  font-weight: 500;
}

.address-bottom li {
  line-height: 20px;
}

.copy {
  position: relative;
  display: block;
  margin-top: 30px;
  color: #333;
  font-size: 12px;
  font-weight: 600;
}

.address-right {
  position: relative;
  display: block;
  float: right;
  width: 290px;
}

.bank-right {
  position: relative;
  display: block;
  font-size: 14px;
  width: 282px;
}

.bank-right strong {
  display: block;
  width: 49px;
  height: 20px;
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  font-weight: 600;
}

.bank-right p {
  display: block;
  width: 282px;
  height: 40px;
  font-size: 14px;
  color: #333;
  font-weight: 500;
  margin-bottom: 12px;
}

.bank-right a {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.sns-list {
  position: relative;
  display: block;
  margin-top: 15px;
}

.sns-list a {
  position: relative;
  display: block;
  width: 36px;
  height: 24px;
  float: left;
}

.sns-list a img {
  position: relative;
  display: block;
}
